<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>FindCon</servlet-name>
		<display-name>FindCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.FindCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginCon</servlet-name>
		<display-name>LoginCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.LoginCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Join1Con</servlet-name>
		<display-name>Join1Con</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.Join1Con</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutCon</servlet-name>
		<display-name>LogoutCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.LogoutCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IdCheckCon</servlet-name>
		<display-name>IdCheckCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.IdCheckCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginCheckCon</servlet-name>
		<display-name>LoginCheckCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.LoginCheckCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MatchingCon</servlet-name>
		<display-name>MatchingCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.MatchingCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MatchingCon1</servlet-name>
		<display-name>MatchingCon1</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.MatchingCon</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindCon</servlet-name>
		<url-pattern>/FindCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginCon</servlet-name>
		<url-pattern>/LoginCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Join1Con</servlet-name>
		<url-pattern>/Join1Con</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutCon</servlet-name>
		<url-pattern>/LogoutCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IdCheckCon</servlet-name>
		<url-pattern>/IdCheckCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginCheckCon</servlet-name>
		<url-pattern>/LoginCheckCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MatchingCon</servlet-name>
		<url-pattern>/MatchingCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MatchingCon1</servlet-name>
		<url-pattern>/MatchingCon1</url-pattern>
	</servlet-mapping>


</web-app>
