<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>FindCon</servlet-name>
		<display-name>FindCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.FindCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginCon</servlet-name>
		<display-name>LoginCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.LoginCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutCon</servlet-name>
		<display-name>LogoutCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.LogoutCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MatchingCon</servlet-name>
		<display-name>MatchingCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.MatchingCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MatchingCon1</servlet-name>
		<display-name>MatchingCon1</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.MatchingCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>listController</servlet-name>
		<display-name>listController</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.listController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RentalViewCon</servlet-name>
		<display-name>RentalViewCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.RentalViewCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>testCon</servlet-name>
		<display-name>testCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.testCon</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindCon</servlet-name>
		<url-pattern>/FindCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginCon</servlet-name>
		<url-pattern>/LoginCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutCon</servlet-name>
		<url-pattern>/LogoutCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MatchingCon</servlet-name>
		<url-pattern>/MatchingCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MatchingCon1</servlet-name>
		<url-pattern>/MatchingCon1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>listController</servlet-name>
		<url-pattern>/listController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PayCon</servlet-name>
		<display-name>PayCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.PayCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RentalCon</servlet-name>
		<display-name>RentalCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.RentalCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>placePrintCon</servlet-name>
		<display-name>placePrintCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.placePrintCon</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PayCon</servlet-name>
		<url-pattern>/PayCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RentalCon</servlet-name>
		<url-pattern>/RentalCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>placePrintCon</servlet-name>
		<url-pattern>/placePrintCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RentalViewCon</servlet-name>
		<url-pattern>/RentalViewCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>testCon</servlet-name>
		<url-pattern>/testCon</url-pattern>
	</servlet-mapping>
</web-app>
