#con-info{
    font-weight: 400;
    text-align: center;

}

.confim-header_base{
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
    border-radius: 10px;
	padding: 10px 10px 10px 10px;
}
.accordion_items{
	background-color: rgb(231, 231, 231);
	padding: 10px 10px 10px 10px;
	margin-top: 15px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.accordion_item_flight{
	padding: 10px 10px 10px 10px;
}

.confim-fi{
    text-align: center;
}

#confim-main {
    font-size: 30px;
    text-align: left;
    background-color: #2178ff;
    border-radius: 1px;
    border-radius: 10px;
    font-weight: bolder;
    color: aliceblue;
    margin-left: 24%;
    padding: 10px 10px 10px 10px;
}

#confim-check{
    font-size: 30px;
    text-align: right;
    margin-left: 150px;
    background-color: #2178ff;
    border-radius: 5px;
    border-radius: 10px;
    font-weight: bolder;
    color: aliceblue;
    padding: 10px 10px 10px 10px;
}

.confim-mov{
    margin-bottom: 10%;
}