<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.smhrd.domain.matchingDAO">
	
	<!-- 게시판 -->
	<select id="selectMatching" resultType="com.smhrd.domain.MATCHING" parameterType="String">
		select * from MATCHING where USER_ID=#{USER_ID}
	</select>
	
	<!-- 매칭취소 조건 -->
	<select id="selectMatchingInfo" resultType = "com.smhrd.domain.MATCHING" parameterType = "com.smhrd.domain.MATCHING">
		select * from MATCHING where MAT_NO = (select MAT_NO from MATCHING_LIST where USER_ID = #{USER_ID})
	</select>
	
	<!-- 매칭 찾기 -->
	<select id="selectMatchingView" resultType = "com.smhrd.domain.MATCHING" parameterType = "com.smhrd.domain.MATCHING">
		select * from MATCHING where USER_ID=#{USER_ID}
	</select>
	
	<!-- 매칭 내역보기 -->
	<select id="selectMatchings" resultType="com.smhrd.domain.MATCHING" parameterType="String">
		select * from MATCHING_LIST where USER_ID=#{USER_ID}
	</select>
	
</mapper>
