<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.smhrd.domain.matchingDAO">
	
	<!-- 내 내역들 -->
	<select id="selectMatching" resultType="com.smhrd.domain.MATCHING" parameterType="String">
		select * from MATCHING where MAT_NO in (select MAT_NO from MATCHING_LIST where ID = #{ID}) order by RES_DATE desc
	</select>
	
	<!-- 매칭취소 조건 -->
	<select id="selectMatchingInfo" resultType = "com.smhrd.domain.MATCHING" parameterType = "com.smhrd.domain.MATCHING">
		select * MATCHING from USER_ID in (select ID from select * from MATCHING_LIST where ID=#{ID})
	</select>
	
	<!-- 예약취소 조건 -->
	<select id="selectMatchingView" resultType = "com.smhrd.domain.MATCHING" parameterType = "com.smhrd.domain.MATCHING">
		select * from MATCHING where USER_ID=#{USER_ID}
	</select>
	
	<!-- 매칭게시판에서 내글 삭제 -->
	<delete id="deleteMatchingIdex" parameterType="int">
      	 delete from MATCHING where MAT_NO=#{MAT_NO}
    </delete>    	
	<!-- 예약하기 -->
	<insert id="insertRental" parameterType="com.smhrd.domain.MATCHING">
		insert into MATCHING values(matching_mat_no.nextval,#{RES_DATE},#{RES_TIME},#{RES_PLACE},#{USER_ID},#{UNIT},#{MAT_MEMBER},#{STN_TIER},#{STN_MANNER},'0',#{GENDER})		
	</insert>
	

	<!-- 예약완료 여부 확인 -->
	<select id="selectRentalView" resultType = "com.smhrd.domain.MATCHING" parameterType = "String">
		select * from MATCHING where RES_DATE=#{RES_DATE}
	</select>
	<!-- 매칭게시판에서 MAT_NO선택 -->
	<select id="selectMatNum" resultType = "com.smhrd.domain.MATCHING" parameterType = "com.smhrd.domain.MATCHING">
		select * from MATCHING where MAT_NO=#{MAT_NO}
	</select>
	
	<!-- 메인페이지 날짜별 게시글 출력 -->
	<select id="selectDayMat" resultType = "com.smhrd.domain.MATCHING" parameterType = "String">
		select * from MATCHING where RES_DATE=#{RES_DATE} and RES_PLACE in (select PLACE_name from place_info where PLACE_ADD like'%'||#{LOCAL}||'%') order by RES_TIME
	</select>
	
	<!-- 예약하자마자 시퀸스 번호 확인 -->
	<select id="selectSeqNo" resultType = "BigDecimal">
		select LAST_NUMBER from user_sequences WHERE SEQUENCE_NAME = UPPER('MATCHING_MAT_NO')
	</select>
	   <!-- 매칭번호 불러오기 -->
   <select id="matnoMatching" resultType="com.smhrd.domain.MATCHING" parameterType="BigDecimal">
      select * from MATCHING where MAT_NO=#{MAT_NO}
   </select>


</mapper>
