<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace ="com.smhrd.domain.USER_INFO_DAO">

	<!-- 아이디 찾기 -->
	<select id="selectUSER_INFO" resultType = "com.smhrd.domain.USER_INFO" parameterType = "com.smhrd.domain.USER_INFO">
		select * from USER_INFO where name=#{NAME} and tel=#{TEL}
	</select>
	
	<!-- 로그인 -->
	<select id="LoginUSER_INFO" resultType="com.smhrd.domain.USER_INFO" parameterType="com.smhrd.domain.USER_INFO">
		select * from USER_INFO where ID=#{ID} and PW=#{PW}
	</select>
	<!-- 회원가입 -->
	<insert id="insertUSER_INFO" parameterType="com.smhrd.domain.USER_INFO">
		insert into USER_INFO values (#{ID},#{PW},#{NAME},#{EMAIL},#{GENDER},#{TEL},#{ADDRESS},default,default,default, #{USER_TIER},default)
	</insert>
	<!-- 아이디 중복체크 -->
	<select id="selectId" parameterType="String" resultType="String">
		select ID from USER_INFO where ID=#{ID}
	</select>
	<!-- 로그인 실패메세지 -->
	<select id="selectLogin" parameterType="String" resultType="String">
		select * from USER_INFO where ID=#{ID} and PW=#{PW}
	</select>
	<!-- 회원정보수정 -->
	<update id="update" parameterType="com.smhrd.domain.USER_INFO">
		update USER_INFO set PW=#{PW},NAME=#{NAME},EMAIL=#{EMAIL},TEL=#{TEL} where ID=#{ID}
	</update>
</mapper>

